
    <h1>New Customers
    <%= link_to 'Customer listings', customers_path, :class => "btn btn-primary", :style => "float:right;" %>
    </h1>  

    <hr/>
   
<%= render 'form' %>
    <br/>

  

    

  </div>
