	  <div class="services">
	    <div class="container">
		  <div class="error-404 text-center">
		  <h1 style="font-size:35px;">Hello, thanks you for using Zaysine.</h1>
			<p>Your Account has not been approved by admin.</p>
			<p>We will contact you very shotly</p>
			<a class="b-home" href="/">Back to Home</a>
		  </div>
	   </div>
     </div>