
<tr>
    <td><%= line_item.product.product_name %></td>
	<td><%= line_item.quantity %></td>
	<td><%= (line_item.total_price) %> Ks</td>
	<td><%= link_to 'Destroy', line_item, method: :delete,data: { confirm: 'Are you sure?' } %></td>
	<td></td>
</tr>








